<% include ../partials/header %>
  <script>
    window.initMap = function() {};
  </script>
  <div class="container" style="height: auto;">
    <div class="container">
        <% if(error && error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
        <% } %>
        <% if(success && success.length > 0) { %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
        <% } %>
    </div>
    <% if (!user) { %>
      <h1>User does not exist</h1>
    <% } else { %>
      <% if (!user.name) { %>
      <h1><%= user.username%>'s Profile</h1>
      <% } else { %>
      <h1><%= user.name.split(" ")[0] %>'s Profile</h1>
      <% } %> 
      <div class="row">
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="<%= user.profilePic %>">
          </div>
        </div>
        <div class="col-md-9">
          <label>Name:</label>
          <% if (!user.name) { %>
            <p></p>
          <% } else { %>
            <p><%= user.name %></p>
          <% } %>  
          <label>Username:</label>
          <p><%= user.username %></p>
          <label>Email:</label>
          <p class="email hidden"><%= user.email %></p>
          <% if (user._id) { %>
            <% if(currentUser && user._id.equals(currentUser._id)){ %>
              <a class="btn btn-warning" href="/profile/<%= user._id %>/edit">Edit</a>
              <!--<form id="delete-form" action="/campgrounds/<*%= campground._id %>?_method=DELETE" method="POST">-->
              <!--  <button class="btn btn-danger">Delete</button>-->
              <!--</form>-->
            <% } %>
          <% } %>
          <% if (!user._id) { %>
            <% if(currentUser && user.id.equals(currentUser._id)){ %>
              <a class="btn btn-warning" href="/profile/<%= user.id %>/edit">Edit</a>
              <!--<form id="delete-form" action="/campgrounds/<*%= campground._id %>?_method=DELETE" method="POST">-->
              <!--  <button class="btn btn-danger">Delete</button>-->
              <!--</form>-->
            <% } %>
          <% } %>
        </div>
      </div>
      <h1>Campgrounds created by this user:</h1>
      <% if (typeof campgrounds == 'object' && campgrounds) {%>
      <div class="row text-center d-fw">
        <% campgrounds.forEach(function(campground){ %>
          <div class="col-md-4 col-sm-12" style="text-align: left;">
            <div class="thumbnail" style="height:250px; width:100%;">
              <a href="/campgrounds/<%= campground._id %>">
                <img src="<%= campground.image %>" style="height:250px; width:100%; position:relative;">
              </a>
              <div class="caption">
                <h2 style="margin-bottom: 1px; padding-bottom:0;" class="h2-campground-name"><a class="a-campground-name" href="/campgrounds/<%= campground._id %>"><%= campground.name %></a></h2>
                <h4 style="margin-top: 0; padding-top:0; margin-bottom: 1px; padding-bottom:0;"><%= campground.location.split(",")[1] %></h4>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      <% } %>
    <% } %>
  </div>

<% include ../partials/footer %>