<!DOCTYPE html>
<html>
  <head>
    
    
    
    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../favicomatic/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../favicomatic/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../favicomatic/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../favicomatic/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../favicomatic/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../favicomatic/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../favicomatic/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicomatic/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="../favicomatic/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="../favicomatic/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../favicomatic/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicomatic/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../favicomatic/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="EsKampu"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="../favicomatic/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="../favicomatic/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="../favicomatic/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="../favicomatic/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="../favicomatic/mstile-310x310.png" />
    <meta name="theme-color" content="#607d8b">
	
  	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../stylesheets/favicon/favicon-57x57.png" />
    <link rel="icon" type="image/png" href="../stylesheets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" type="image/x-icon" href="../stylesheets/favicon/favicon-32x32.ico?" sizes="32x32" />
    <!--Links-->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet" crossorigin="anonymous">
    
    
    <link rel="stylesheet" href="../../stylesheets/main.css">
    
    <link  href="/font/weathericons-regular-webfont.ttf">
    <link  href="/font/weathericons-regular-webfont.svg">
    <link  href="/font/weathericons-regular-webfont.eot">
    <link  href="/font/weathericons-regular-webfont.woff">
    <link  href="/font/weathericons-regular-webfont.woff2">
    <link rel="stylesheet" href="/stylesheets/weather-icons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abel|Dosis|Exo|Josefin+Sans|Open+Sans|PT+Sans|Raleway|Roboto|Source+Sans+Pro" rel="stylesheet">
    
    <!--Scripts-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="/JS/timeago.js" type="text/javascript"></script>
    <script src="/JS/semantic.min.js" type="text/javascript"></script>
    <script src="/JS/index.js" type="text/javascript"></script>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    
    <!--Mobile display Meta-->
    
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    
    <title>EsKampu</title>
    
  </head>
  <body>
    <script>
      jQuery(document).ready(function($){
      	//move nav element position according to window width
      	moveNavigation();
      	$(window).on('resize', function(){
      		(!window.requestAnimationFrame) ? setTimeout(moveNavigation, 300) : window.requestAnimationFrame(moveNavigation);
      	});
      
      	//mobile version - open/close navigation
      	$('.cd-nav-trigger').on('click', function(event){
      		// event.preventDefault();
      		if($('header').hasClass('nav-is-visible')) $('.moves-out').removeClass('moves-out');
      		
      		$('header').toggleClass('nav-is-visible');
      		$('.cd-main-nav').toggleClass('nav-is-visible');
      		$('.cd-main-content').toggleClass('nav-is-visible');
      	});
      
      	//mobile version - go back to main navigation
      	$('.go-back').on('click', function(event){
      		event.preventDefault();
      		$('.cd-main-nav').removeClass('moves-out');
      	});
      
      	//open sub-navigation
      	$('.cd-subnav-trigger').on('click', function(event){
      		event.preventDefault();
      		$('.cd-main-nav').toggleClass('moves-out');
      		$('.cd-logo').toggleClass('cd-logo-hide');
      	});
      
      	function moveNavigation(){
      		var navigation = $('.cd-main-nav-wrapper');
        		var screenSize = checkWindowWidth();
              if ( screenSize ) {
              	//desktop screen - insert navigation inside header element
      			navigation.detach();
      			navigation.insertBefore('.cd-nav-trigger');
      		} else {
      			//mobile screen - insert navigation after .cd-main-content element
      			navigation.detach();
      			navigation.insertAfter('.cd-main-content');
      		}
      	}
      
      	function checkWindowWidth() {
      		var mq = window.getComputedStyle(document.querySelector('header'), '::before').getPropertyValue('content').replace(/"/g, '').replace(/'/g, "");
      		return ( mq == 'mobile' ) ? false : true;
      	}
      	
      	$('.hide-password').on('click', function(){
          var togglePass= $(this),
          passwordField = togglePass.prev('input');

          ( 'password' == passwordField.attr('type') ) ? passwordField.attr('type', 'text') : passwordField.attr('type', 'password');
          ( 'Hide' == togglePass.text() ) ? togglePass.text('Show') : togglePass.text('Hide');
          //focus and move cursor to the end of input field
          // passwordField.putCursorAtEnd();
        });
        var error = <%- JSON.stringify(error) %>;
      
      });
      
    
      
    </script>
    <header>
    	<div class="cd-logo"><a href="/"><img src="/../img/ESKAMPU-LOGO-BLANCO-.png" alt="Logo"></a></div>
     
    	<nav class="cd-main-nav-wrapper">
    		<ul class="cd-main-nav">
    			<li><a href="/campgrounds">Campgrounds</a></li>
    			<li><a href="/about">About</a></li>
    			<!--<li><a href="/contact">Contact</a></li>-->
    			<% if(!currentUser){ %>  
            <li class="nav-modal"><a class="cd-signin">Login</a></li>
	          <li class="nav-modal"><a class="cd-signup">Sign up</a></li>
          <% } else { %>
            <% if(!currentUser.name) { %>
              <li><a href="/profile/<%= currentUser._id %>"><%= currentUser.username %></a></li>
              <li><a href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>  
            <% } else { %>
              <li><a href="/profile/<%= currentUser._id %>"><%= currentUser.name.split(" ")[0].toUpperCase(); %></a></li>
              <li><a href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            <% } %>
          <% } %>
				  
				  <li>
    				<a href="#0" class="cd-subnav-trigger"><span>Search</span></a>
     
    				<ul>
    					<li class="go-back"><a href="#0">Menu</a></li>
    					<li class="nav-search-bar">
    					  <form accept-charset="utf-8" class="input-group" action="/search/results" method="GET" role="search">
                  <div class="input-group">
                    <input type="text" class="form-control" value name="search" placeholder="...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                  </div><!-- /input-group -->
                </form>
    					</li>
    				</ul>
    			</li>
    		</ul>
    	</nav>
    	<a href="#0" class="cd-nav-trigger"><span></span></a>
    	
    </header>
    <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
  		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
  			<ul class="cd-switcher">
  				<li><a href="#0">Login</a></li>
  				<li><a href="#0">New account</a></li>
  			</ul>
  
  			<div id="cd-login"> <!-- log in form -->
  				<form class="cd-form" form action="../login" method="POST">
  					<p class="fieldset">
  						<label class="image-replace cd-username" for="signin-username">Username</label>
  						<input class="full-width has-padding has-border" pattern="\w{4,10}" required name="username" id="signin-email" type="username" placeholder="Username">
  						<span class="cd-error-message">Error message here!</span>
  					</p>
  
  					<p class="fieldset">
  						<label class="image-replace cd-password" for="signin-password">Password</label>
  						<input class="full-width has-padding has-border" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required name="password" id="signin-password" type="text"  placeholder="Password">
  						<a href="#0" class="hide-password">Hide</a>
  						<span class="cd-error-message">Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter</span>
  					</p>
  					
  					<p class="fieldset" style="text-align:center">or</p>
  
            <p class="fieldset" style="text-align:center">
              <!--Facebook-->
              <a href="../auth/facebook" type="button" class="btn btn-fb"><i class="fa fa-facebook left"></i> Facebook</a>
              <!--Google +-->
              <a href="../auth/google" type="button" class="btn btn-gplus"><i class="fa fa-google-plus left"></i> Google +</a>
            </p>
  
  					<p class="fieldset">
  						<input type="checkbox" id="remember-me" checked>
  						<label for="remember-me">Remember me</label>
  					</p>
  
  					<p class="fieldset">
  						<input class="full-width" type="submit">
  					</p>
  				</form>
  				
  				<p class="cd-form-bottom-message"><a href="/forgot">Forgot your password?</a></p>

  			</div> <!-- cd-login -->
  
  			<div id="cd-signup"> <!-- sign up form -->
  				<form class="cd-form" form action="../register" method="POST">
  					<p class="fieldset">
  						<label class="image-replace cd-username" for="signup-username">Username</label>
  						<input id="username-reg" class="full-width has-padding has-border" pattern="\w{4,10}" required name=username id="signup-username" type="text" placeholder="Username">
  						<span class="cd-error-message">Username must be 4 to 10 characters long and contain alphanumeric digits and underscores!</span>
  					</p>
  
  					<p class="fieldset">
  						<label class="image-replace cd-email" for="signup-email">E-mail</label>
  						<input id="email-reg" class="full-width has-padding has-border" required name="email" id="signup-email" type="email" placeholder="E-mail">
  						<span class="cd-error-message"><%= error %></span>
  					</p>
  
  					<p class="fieldset">
  						<label class="image-replace cd-password" for="signup-password">Password</label>
  						<input id="password-reg" class="full-width has-padding has-border" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required name="password" id="signup-password" type="text"  placeholder="Password">
  						<a href="#0" class="hide-password">Hide</a>
  						<span class="cd-error-message">Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter</span>
  					</p>
  					
  					<p class="fieldset" style="text-align:center">or</p>
  
            <p class="fieldset" style="text-align:center">
              <!--Facebook-->
              <a href="../auth/facebook" type="button" class="btn btn-fb signup-submit"><i class="fa fa-facebook left"></i> Facebook</a>
              <!--Google +-->
              <a href="../auth/google" type="button" class="btn btn-gplus signup-submit"><i class="fa fa-google-plus left"></i> Google +</a>
            </p>
  
  					<p class="fieldset">
  						<input type="checkbox" id="accept-terms">
  						<label for="accept-terms">I agree to the <a href="/terms&privacy">Terms and Privacy</a></label>
  						<span class="cd-error-message"></span>
  					</p>
  
  					<p class="fieldset">
  						<input class="full-width has-padding signup-submit" type="submit">
  					</p>
  				</form>
  
  				 <a href="#0" class="cd-close-form">Close</a> 
  			</div> <!-- cd-signup -->
  
  			<div id="cd-reset-password"> <!-- reset password form -->
  				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
  
  				<form class="cd-form" action="/forgot" method="POST">
  					<p class="fieldset">
  						<label class="image-replace cd-email" for="reset-email">E-mail</label>
  						<input class="full-width has-padding has-border" id="reset-email" type="email" name="email" placeholder="E-mail"><br>
  						<span class="cd-error-message">Error message here!</span>
  					</p>
  
  					<p class="fieldset">
  						<input class="full-width has-padding" type="submit" value="Reset password">
  					</p>
  				</form>
  
  				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
  			</div> <!-- cd-reset-password -->
  			<a href="#0" class="cd-close-form">Close</a>
  		</div> <!-- cd-user-modal-container -->
	  </div> <!-- cd-user-modal -->
	  <main class="cd-main-content"><!-- main content here -->
 