<% include ../partials/header %>
<script>
  window.initMap = function() {}
</script>

<div class="container" style="position: relative;">
  <% if (typeof error == 'object' && error) { %>
    <% if (error.length > 0){ %>  
      <div class="alert alert-danger" role="alert"><%= error %><span class="flash-closer glyphicon glyphicon-remove" style="position: relative; cursor: pointer; position: absolute; top: 18px; right: 30px;"> </span></div>
    <% } %>
  <% } %> 
  <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert"><%= success %><span class="flash-closer glyphicon glyphicon-remove" style="position: relative; cursor: pointer; position: absolute; top: 18px; right: 30px;"> </span></div>
  <% } %>
</div>
<div class="container" style="min-height: 100%;">
  <div class="row" style="margin: 0 0 40px 0; padding-top: 70px;">
    <div class="col-lg-6 col-lg-offset-3">
      <form accept-charset="utf-8" class="input-group" action="results" method="GET" role="search">
        <div class="input-group">
          <div class="input-group-btn">
            <select id="select" class="selectpicker" name="option">
              <option value="all">All</option>
              <option value="name">Name</option>
              <option value="location">Location</option>
            </select>
          </div>
          <input type="text" class="form-control" value name="search" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>  
    <!--End of search bar-->
  </div>
  <!--End of row-->
    <div class="container">
      <% if(campgrounds.length < 1) { %>
        <div>
          <h3>No results for:  <%= search %></h3>
        </div>
      <% } else { %>
        <div style="margin-bottom: 30px;">
          <h2>Results for: <%= search %></h2>
        </div>
      <% } %>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-md-4 col-sm-6" style="text-align: left;">
        <div class="thumbnail" style="height:250px; width:100%;">
          <img src="<%= campground.image %>" style="height:250px; width:100%; position:relative;">
          <div class="caption">
            <h2 style="margin-bottom: 1px; padding-bottom:0;" class="h2-campground-name"><a class="a-campground-name" href="/campgrounds/<%= campground._id %>"><%= campground.name %></a></h2>
            <h4 style="margin-top: 0; padding-top:0; margin-bottom: 1px; padding-bottom:0;"><%= campground.location.split(",")[1] %></h4>
            <div class="ui star rating no-margin" data-rating="3" data-max-rating="5" style="display: inline-block;"></div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
 <% if (paginate.hasPreviousPages || paginate.hasNextPages(pageCount) ) { %>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-lg">
      <% if (paginate.hasPreviousPages) { %>
        <li>
          <a aria-label="Previous" href="<%= paginate.href(true) %>">
            <!--Previous-->
            <span aria-hidden="true">&laquo;</span>
          </a>  
        </li>
      <% } %>  
      <% if (pages) { %>
        <% pages.forEach(function(page){ %>
          <% if (currentPage === page.number) { %>
            <li class="active"><a href="<%= page.url %>"><%= page.number %></a></li>
          <% } else { %>  
            <li class=""><a href="<%= page.url %>"><%= page.number %></a></li>
          <% } %>  
        <% }); %>
      <% } %>  
      <% if (paginate.hasNextPages(pageCount)) { %>
        <li>
          <a href="<%= paginate.href() %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      <% } %>  
    </ul>      
  </nav>
  <% } %>
</div>

<% include ../partials/footer %>